#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

button{
  padding: 8px;
  border-radius: 3px;
  background-color: cadetblue;
  color: black;
  font-size: larger;

}